<div class="container-fluid">

<script src="/scripts/jquery.socialist.js" type="text/javascript" language="JavaScript"></script>
<link rel="stylesheet" href="/scripts/jquery.socialist.css" type="text/css" />

<script type="text/javascript" language="JavaScript">
$(document).ready(function () {

$('#demo1').socialist({
    networks: [
        {name:'facebook',id:'in1dotcom'},
        {name:'tumblr',id:'iatek'},
        {name:'twitter',id:'onsocialmedia'},
        {name:'pinterest',id:'potterybarn/Fall-Weddings-by-Pottery-Barn'},
        {name:'youtube',id:'potterybarn'},
        {name:'googleplus',id:'105588557807820541973/posts'},
        {name:'rss',id:' http://feeds.feedburner.com/good/lbvp'}
    ],
    maxResults:2
});

/*
$('#demo2').socialist({
    networks: [
        {name:'craigslist',id:'boo',areaName:'southcoast'}
    ],
    isotope:true,
    random:false,
	maxResults:15,
    fields:['source','heading','date','text','image']
});
*/

$('.social').click(function(){
    $('#demo3').empty();
    $('#demo3').socialist({
        networks: [
            {name:'linkedin',id:'buddy-media'},
            {name:'facebook',id:'in1dotcom'},
            {name:'twitter',id:'in1dotcom'}
        ],
        maxResults:3
    });
    return false;
});

$('.youtube').click(function(){
    $('#demo4').empty();
    $('#demo4').socialist({
        networks: [
            {name:'youtube',id:'potterybarn'}
        ],
    	maxResults:12,
    	fixed:true
    });
    return false;
});

$('.craigslist').click(function(){
    $('#demo5').empty();
    $('#demo5').socialist({
        networks: [
            {name:'craigslist',id:'boo',areaName:'southcoast'}
        ],
    	maxResults:12
    });
    return false;
});

$('.rss').click(function(){
    $('#demo6').empty();
    $('#demo6').socialist({
        networks: [
            {name:'rss',id:' http://feeds.feedburner.com/good/lbvp'},
    		{name:'rss',id:'http://www.houzz.com/getGalleries/featured/out-rss'}
        ],
    	maxResults:6
    });
    return false;
});

$('.list').click(function(){
    $('#demo7').empty();
    $('#demo7').socialist({
        networks: [
            {name:'tumblr',id:'iatek'},
            {name:'youtube',id:'potterybarn'},
            {name:'googleplus',id:'105588557807820541973/posts'},
            {name:'rss',id:' http://feeds.feedburner.com/good/lbvp'}
        ],
        isotope:false,
        random:false,
    	maxResults:2,
        theme:'clean',
        headingLength:60,
        textLength:200,
        width:280,
        border:'1px',
        margin:'2px',
        fields:['text']
    });
    return false;
});


});
</script>

<div class="hero-unit hero-unit-dark">
    <h1>Socialist - Social Feed Plugin</h1>
</div>

<h3>A jQuery Social Plugin to create a single social media stream from multiple social networks</h3>

<p>
<a href='/socialist' title='jQuery social media aggregate plugin'>Socialist</a> is a jquery social plugin that creates a social stream (or social "wall") from <b>multiple social media feeds in one</b> place.
Use it to pull content from Facebook pages, Twitter, LinkedIn, YouTube and other social networks...
</p>

<div>
<a href='//iatek.github.com/jquery-socialist' class='btn btn-large btn-info'>Download from GitHub</a>
</div>
<br/><br/>

<h2 class="basic">Combine Content from Multiple Social Media Feeds</h2>
<pre>
    $('#mydiv').socialist({
        networks: [
            {name:'facebook',id:'in1dotcom'},
            {name:'tumblr',id:'in1blog'},
            {name:'twitter',id:'in1_'},
            {name:'pinterest',id:'potterybarn/Fall-Weddings-by-Pottery-Barn'},
            {name:'youtube',id:'potterybarn'},
            {name:'googleplus',id:'105588557807820541973/posts'},
            {name:'rss',id:' http://feeds.feedburner.com/good/lbvp'}
        ],
        maxResults:4
    });

    &lt;div id="mydiv"&gt;&lt;/div&gt;
</pre>
<div id="demo1"></div>
<br/><br/>

<!--
<h2 id="instagram"><a href='#'>Display Flickr Photos in Pinterest-style Layout</a></h2>
<div id="demo2"></div>
<br/><br/>
-->

<h2 class="social"><a href='#'>Combine Facebook, Twitter and LinkedIn Updates</a></h2>
<pre>
    $('#mydiv').socialist({
        networks: [
            {name:'linkedin',id:'buddy-media'},
            {name:'facebook',id:'in1dotcom'},
            {name:'twitter',id:'in1dotcom'}
        ]
    });
</pre>
<a class='social btn' href='#'>Try It</a>
<div id="demo3">
</div>
<br/><br/>

<h2 class="youtube"><a href='#'>Create a Wall of YouTube Video Thumbnails</a></h2>
<pre>
    $('#mydiv').socialist({
        networks: [
            {name:'youtube',id:'potterybarn'}
        ],
        theme:'clean'
    });
</pre>
<a class='youtube btn' href='#'>Try It</a>
<div id="demo4"></div>
<br/><br/>


<h2 class="craigslist"><a href='#'>Use Socialist as a jQuery Craigslist Plugin</a></h2>
<pre>
    $('#mydiv').socialist({
        networks: [
            {name:'craigslist',id:'boo',areaName:'boston'}
        ],
        maxResults:12
    });
</pre>
<a class='craigslist btn' href='#'>Try It</a>
<div id="demo5"></div>
<br/><br/>


<h2 class="rss" data-toggle="collapse" data-target="#demo6"><a href='#'>Use Socialist As a Visual RSS Plugin for jQuery</a></h2>
<pre>
    $('#mydiv').socialist({
        networks: [
            {name:'rss',id:' http://feeds.feedburner.com/good/lbvp'},
        	{name:'rss',id:'http://www.houzz.com/getGalleries/featured/out-rss'}
        ],
    	maxResults:6
    });
</pre>
<a class='rss btn' href='#'>Try It</a>
<div id="demo6"></div>
<br/><br/>


<h2 class="list"><a href='#'>Create a Customized List of Social Updates</a></h2>
<pre>
    $('#mydiv').socialist({
        networks: [
            {name:'tumblr',id:'in1blog'},
            {name:'youtube',id:'legoland'},
            {name:'googleplus',id:'105588557807820541973/posts'},
            {name:'rss',id:' http://feeds.feedburner.com/good/lbvp'}
        ],
        isotope:false,
        random:false,
        maxResults:2,
        theme:'clean',
        headingLength:60,
        textLength:200,
        width:280,
        border:'1px',
        margin:'2px',
        fields:['text']
    });
</pre>
<a class='list btn' href='#'>Try It</a>
<div id="demo7"></div>
<br/><br/>


</div>
