<div class="container-fluid">

<div class="hero-unit">
	<h1>jQuery Socialist Demos</h1>
	<h6>Create a single social media stream from multiple social networks</h6>
</div>

<p>
jQuery Socialist is a jquery plugin that creates a social stream (or social "wall") from multiple social media feeds in one place.
Use it to pull content from Facebook pages, Twitter, LinkedIn, YouTube and other social networks...
</p>

<div class="well">
	<h3>Demos</h3>
	<ul>
	<li><a href='#basic'>Show updates from multiple social networks in attractive visual layouts</li>
	<li><a href='#instagram'>Display Instagram photos in Pinterest-style layouts</a></li>
    <li><a href='#social'>Combine and display Facebook, Twitter and LinkedIn updates</a></li>
    <li><a href='#youtube'>Show YouTube video thumbnails</a></li>
    <li><a href='#craiglist'>Display Craiglist postings for an area and/or category</a></li>
    <li><a href='#rss'>Visualize any RSS feed as a responsive social wall</a></li>
	</ul>
</div>
	
<a href='//iatek.github.com/jquery-socialist' class='btn btn-large btn-info'>Download from GitHub</a>

<hr/>

<h1>jQuery Socialist</h1>

<div></div>

<hr/>

<h1>Demos</h1>

<hr/>

<hr/>
</div>
