<div class="container-fluid">

<script src="/scripts/jquery.socialist.js" type="text/javascript" language="JavaScript"></script>
<link rel="stylesheet" href="/scripts/jquery.socialist.css" type="text/css" />

<script type="text/javascript" language="JavaScript">
$(document).ready(function () {

$('#demo1').socialist({
    networks: [
        {name:'facebook',id:'in1dotcom'},
        {name:'tumblr',id:'iatek'},
        {name:'pinterest',id:'potterybarn/Fall-Weddings-by-Pottery-Barn'},
        {name:'youtube',id:'potterybarn'},
        {name:'googleplus',id:'105588557807820541973/posts'},
        {name:'rss',id:' http://feeds.feedburner.com/good/lbvp'}
    ],
    maxResults:2
});

/*
$('#demo2').socialist({
    networks: [
        {name:'craigslist',id:'boo',areaName:'southcoast'}
    ],
    isotope:true,
    random:false,
	maxResults:15,
    fields:['source','heading','date','text','image']
});
*/

$('#demo3').socialist({
    networks: [
        {name:'linkedin',id:'buddy-media'},
        {name:'facebook',id:'in1dotcom'},
        {name:'twitter',id:'in1dotcom'}
    ],
    maxResults:3,
    theme:'clean'
});

$('#youtube').click(function(){
    $('#demo4').socialist({
        networks: [
            {name:'youtube',id:'potterybarn'}
        ],
    	maxResults:12,
    	fixed:true,
        autoShow:false
    });
});

$('#craigslist').click(function(){
    $('#demo5').socialist({
        networks: [
            {name:'craigslist',id:'boo',areaName:'southcoast'}
        ],
    	maxResults:12,
        autoShow:false
    });
});

$('#demo6').socialist({
    networks: [
        {name:'rss',id:' http://feeds.feedburner.com/good/lbvp'},
		{name:'rss',id:'http://www.houzz.com/getGalleries/featured/out-rss'}
    ],
	maxResults:6,
    autoShow:false
});

$('#demo7').socialist({
    networks: [
        {name:'tumblr',id:'iatek'},
        {name:'youtube',id:'potterybarn'},
        {name:'googleplus',id:'105588557807820541973/posts'},
        {name:'rss',id:' http://feeds.feedburner.com/good/lbvp'}
    ],
    isotope:false,
    random:false,
	maxResults:2,
    theme:'clean',
    headingLength:60,
    textLength:200,
    width:280,
    border:'1px',
    margin:'2px',
    fields:['text']
});

/*
$('h2').click(function(){
    $(this).next('div').show();
    return false;
});
*/

});
</script>

<div class="hero-unit">
    <h1>jQuery Socialist</h1>
</div>

<h3>A jQuery Social Plugin to create a single social media stream from multiple social networks</h3>

<p>
<a href='/socialist' title='jQuery social media aggregate plugin'>Socialist</a> is a jquery social plugin that creates a social stream (or social "wall") from <b>multiple social media feeds in one</b> place.
Use it to pull content from Facebook pages, Twitter, LinkedIn, YouTube and other social networks...
</p>
<p>
	<h1>Demos</h1>
	<dl class="dl-horizontal">
	<dt>Basic</dt><dd><a href='#basic'>Socialist aggregates feeds from multiple social networks</a></dd>
    <dt>The Big Three</dt><dd><a href='#social' data-toggle="collapse" data-target="#demo3">Combine and display Facebook, Twitter and LinkedIn updates</a></dd>
    <dt>YouTube</dt><dd><a href='#youtube' data-toggle="collapse" data-target="#demo4">Show YouTube video thumbnails</a></dd>
    <dt>Craigslist</dt><dd><a href='#craigslist' data-toggle="collapse" data-target="#demo5">Display Craiglist postings for an area and/or category</a></dd>
    <dt>Visual RSS</dt><dd><a href='#rss' data-toggle="collapse" data-target="#demo6">Visualize RSS feeds in a responsive social wall</a></dd>
	<dt>Custom List</dt><dd><a href='#list' data-toggle="collapse" data-target="#demo7">Multiple social media updates in a single list</a></dd>
	</dl>
</p>

<div>
<a href='//iatek.github.com/jquery-socialist' class='btn btn-large btn-info'>Download from GitHub</a>
</div>
<br/><br/>

<h2 id="basic">Combine Content from Multiple Social Media Feeds</h2>
<div id="demo1" class="collapse in"></div>
<br/><br/>

<!--
<h2 id="instagram">Display Flickr Photos in Pinterest-style Layout</h2>
<div id="demo2"></div>
<br/><br/>
-->

<h2 id="social" data-toggle="collapse" data-target="#demo3">Combine Facebook, Twitter and LinkedIn Updates</h2>
<div id="demo3" class="collapse">
</div>
<br/><br/>

<h2 id="youtube" data-toggle="collapse" data-target="#demo4">Create a Wall of YouTube Video Thumbnails</h2>
<div id="demo4" class="collapse"></div>
<br/><br/>


<h2 id="craigslist" data-toggle="collapse" data-target="#demo5">Use Socialist as a jQuery Craigslist Plugin</h2>
<div id="demo5" class="collapse"></div>
<br/><br/>


<h2 id="rss" data-toggle="collapse" data-target="#demo6">Use Socialist As a Visual RSS Plugin for jQuery</h2>
<div id="demo6" class="collapse"></div>
<br/><br/>


<h2 id="list" data-toggle="collapse" data-target="#demo7">Create a Customized List of Social Updates</h2>
<div id="demo7" class="collapse"></div>
<br/><br/>


</div>
