<div class="container-fluid">

<script src="/scripts/jquery.socialist.js" type="text/javascript" language="JavaScript"></script>
<link rel="stylesheet" href="/scripts/jquery.socialist.css" type="text/css" />

<script type="text/javascript" language="JavaScript">
$(document).ready(function () {

$('#demo1').socialist({
    networks: [
        {name:'facebook',id:'in1dotcom'},
        {name:'tumblr',id:'iatek'},
        {name:'pinterest',id:'potterybarn/Fall-Weddings-by-Pottery-Barn'},
        {name:'youtube',id:'potterybarn'},
        {name:'googleplus',id:'105588557807820541973/posts'},
        {name:'rss',id:' http://feeds.feedburner.com/good/lbvp'}
    ],
    maxResults:2
});

$('#demo2').socialist({
    networks: [
        {name:'craigslist',id:'boo',areaName:'southcoast'}
    ],
    isotope:true,
    random:false,
	maxResults:15,
    fields:['source','heading','date','text','image']
});

$('#demo3').socialist({
    networks: [
        {name:'linkedin',id:'buddy-media'},
        {name:'facebook',id:'in1dotcom'},
        {name:'twitter',id:'in1dotcom'}
    ],
    maxResults:3
});

$('#demo4').socialist({
    networks: [
        {name:'youtube',id:'potterybarn'}
    ],
	maxResults:12,
	fixed:true
});

$('#demo5').socialist({
    networks: [
        {name:'craigslist',id:'boo',areaName:'southcoast'}
    ],
	maxResults:12
});

$('#demo6').socialist({
    networks: [
        {name:'rss',id:' http://feeds.feedburner.com/good/lbvp'},
		{name:'rss',id:'http://www.houzz.com/getGalleries/featured/out-rss'}
    ],
	maxResults:6
});

$('#demo7').socialist({
    networks: [
        {name:'facebook',id:'in1dotcom'},
        {name:'tumblr',id:'iatek'},
        {name:'youtube',id:'potterybarn'},
        {name:'googleplus',id:'105588557807820541973/posts'},
        {name:'rss',id:' http://feeds.feedburner.com/good/lbvp'}
    ],
    isotope:false,
    random:false,
	maxResults:2,
    fields:['source','heading']
});

});
</script>

<div class="hero-unit">
    <h1>Socialist: jQuery Social Media Plugin</h1>
</div>

<h4>Create a single social media stream from multiple social networks</h4>

<p>
<a href='/socialist' title='jQuery social media aggregate plugin'>jQuery Socialist</a> is a jquery social plugin that creates a social stream (or social "wall") from multiple social media feeds in one place.
Use it to pull content from Facebook pages, Twitter, LinkedIn, YouTube and other social networks...
</p>
<p>
	<h1>Demos</h1>
	<dl class="dl-horizontal">
	<dt>Basic</dt><dd><a href='#basic'>Socialist aggregates feeds from multiple social networks</a></dd>
	<dt>Instagram Only</dt><dd><a href='#instagram'>Display Instagram photos in Pinterest-style layouts</a></dd>
    <dt>The Big Three</dt><dd><a href='#social'>Combine and display Facebook, Twitter and LinkedIn updates</a></dd>
    <dt>YouTube</dt><dd><a href='#youtube'>Show YouTube video thumbnails</a></dd>
    <dt>Craigslist</dt><dd><a href='#craigslist'>Display Craiglist postings for an area and/or category</a></dd>
    <dt>Visual RSS</dt><dd><a href='#rss'>Visualize RSS feeds in a responsive social wall</a></dd>
	<dt>Custom List</dt><dd><a href='#list'>Multiple social media updates in a single list</a></dd>
	</dl>
</p>
	
<a href='//iatek.github.com/jquery-socialist' class='btn btn-large btn-info'>Download from GitHub</a>

<h2 id="basic">Combine Content from Multiple Social Media Feeds</h2>
<div id="demo1"></div>
<br/>

<h2 id="instagram">Display Instagram Photos in Pinterest-style Layout</h2>
<div id="demo2"></div>
<br/>

<h2 id="social">Combine Facebook, Twitter and LinkedIn Updates</h2>
<div id="demo3"></div>
<br/>

<h2 id="youtube">Create a Wall of YouTube Video Thumbnails</h2>
<div id="demo4"></div>
<br/>

<h2 id="craigslist">Use Socialist as a jQuery Craigslist Plugin</h2>
<div id="demo5"></div>
<br/>

<h2 id="rss">Use Socialist As a Visual RSS Plugin for jQuery</h2>
<div id="demo6"></div>
<br/>

<h2 id="rss">Create a Customized List of Social Updates</h2>
<div id="demo7"></div>
<br/>

</div>
