<div class="container-fluid">

<div class="hero-unit">
    <h1>jQuery Socialist</h1>
</div>

<h3>A jQuery Social Plugin to create a single social media stream from multiple social network feeds</h3>

<p>
Socialist is a jquery social feed plugin that combines multiple social media feeds in one place.
Use it to combine content and create a social wall from Facebook, Twitter, LinkedIn, YouTube, Pinterest, Flickr, Tumblr, Craiglist RSS and other social networks.
<br/><br/>
<img title='Create a Stream from Facebook Pages' src='/scripts/images/32/facebook-32x32.png' /> 
<img title='Twitter Feed Plugin' src='/scripts/images/32/twitter-32x32.png' /> 
<img title='Blog plugin for Pinterest thumbnails' src='/scripts/images/32/pinterest-32x32.png' /> 
<img title='jQuery LinkedIn Feed' src='/scripts/images/32/linkedin-32x32.png' /> 
<img title='YouTube Thumbnails Plugin' src='/scripts/images/32/youtube-32x32.png' /> 
<img title='jQuery Craiglist Plugin' src='/scripts/images/32/craigslist-32x32.png' /> 
<img title='jQuery Tumblr Plugin' src='/scripts/images/32/tumblr-32x32.png' /> 
<img title='jQuery Google+ Plugin' src='/scripts/images/32/google-32x32.png' /> 
<img title='jQuery Flickr Plugin' src='/scripts/images/32/flickr-32x32.png' /> 
<img title='jQuery RSS Plugin' src='/scripts/images/32/rss-32x32.png' />
</p>

<div>
	<h3>Features</h3>
	<p>
	<ul>
    <li>Aggregates social feeds from Facebook, Twitter, LinkedIn, Flickr, YouTube, Tumblr, Pinterest, RSS Feeds, Craigslist, Google+ and more..</li>
    <li>Multiple themes and responsive style</li>
    <li>Easy to implement with <A href='http://jquery.com'>jQuery</a> and a few lines of code!</li>
	</ul>
	</p>
</div>

<br/><br/>
	
<a href='//iatek.github.com/jquery-socialist' class='btn btn-large btn-info' title='jQuery Social Media Plugin Download'>Download from GitHub</a>

<br/><br/>

<h1>Screenshots</h1>

<ul class="thumbnails">
<li><a href='/images/socialist/ss1.png' title='jQuery Socialist Plugin - combine multiple social media feeds'><img src='/images/socialist/ss1.png' width='300' class='thumbnail'></a></li>
<li><a href='/images/socialist/ss2.png' title='Display RSS feeds in Pinterest-like layouts'><img src='/images/socialist/ss2.png' width='160' class='thumbnail'></a></li>
<li><a href='/images/socialist/ss1.png' title='Fixed layout, clean theme'><img src='/images/socialist/ss3.png' width='160' class='thumbnail'></a></li>
<li><a href='/images/socialist/ss2.png' title='Small thumbnails'><img src='/images/socialist/ss4.png' width='160' class='thumbnail'></a></li>
</ul>

<br/><br/>

<h1>Examples &amp; Use Cases</h1>

<div class="well">
	<h4>Use Socialist on your Website or Blog to...</h4>
	<p>
	<ul>
	<li><a href='/socialist/demo#basic'>Show updates from multiple social networks in Pinterest-like layouts</li>
    <li><a href='/socialist/demo#social'>Combine and display Facebook, Twitter and LinkedIn updates</a></li>
    <li><a href='/socialist/demo#youtube'>Show YouTube video thumbnails</a></li>
    <li><a href='/socialist/demo#craigslist'>Display Craiglist postings for an area and/or category</a></li>
    <li><a href='/socialist/demo#rss'>Visualize any RSS feed as a responsive social wall</a></li>
    <li><a href='/socialist/demo'>More Demos</a>..</li>
	</ul>
	</p>
</div>

<br/><br/>

<h1>Installation &amp; Usage</h1>
	<p>
    Socialist supports <a href='http://jquery.com'>jQuery</a> 1.6 or newer<br/>
    </p>
    <p>
    1) Simply include the .js and .css files in your HTML document..
    </p>
	<pre>
    &lt;link href="jquery.socialist.css" rel="stylesheet" /&gt;
    &lt;script src="jquery.socialist.js"&gt;&lt;/script&gt;
	</pre>
	<p>
    2) Apply jQuery Socialist to any &lt;div&gt; element within your js code..
	</p>
	<pre>
    $('#content').socialist({
        networks: [
            {name:'linkedin',id:'buddy-media'},
            {name:'facebook',id:'in1dotcom'},
            {name:'pinterest',id:'potterybarn'},
            {name:'twitter',id:'in1dotcom'},
            {name:'googleplus',id:'105588557807820541973/posts'},
            {name:'rss',id:' http://feeds.feedburner.com/good/lbvp'},
            {name:'craigslist',id:'boo',areaName:'southcoast'}
        ]
    });
	</pre>

<h3>Options</h3>
<p>
	<h5>networks</h5>
        <div>An array of network definition objects</div>
	<h5>random</h5>
        <div>true or false; default value is: true</div>
    <h5>isotope</h5>
        <div>true or false; default value is: true</div>
    <h5>headingLength</h5>
        <div>An integer value that indicates the max number of characters to display in the 'heading' field of each result</div>
    <h5>textLength</h5>
        <div>An integer value that indicates the max number of characters to display in the 'text' description field</div>
    <h5>maxResults</h5>
        <div>An integer value that indicates the max number of results to show</div>
    <h5>theme</h5>
        <div>(none) or 'clean'; default value is: (none)</div>
    <h5>size</h5>
        <div>(none) or 'small' or 'large'; default value is:(none)</div>
	<h5>fields</h5>
        <div>An array of strings that indicate which field values to display. Any of the following: 'source','heading','text','date','image','followers','likes','share'</div>
</p>

<br/><br/>

<h3>Dependencies</h3>

	<p>
    <b>jQuery Socialist uses 2 plugins to provide the responsive layout and cross-domain ajax features:</b>
	</p>
	<p>
    <ul>
	<li>jQuery Isotope Plugin v1.5.19: An exquisite jQuery plugin for magical layouts (http://isotope.metafizzy.co)</li>
    <li>jQuery Cross Domain Ajax: http://james.padolsey.com/javascript/cross-domain-requests-with-jquery/</li>
	</ul>
	</p>


</div>
