<h1>jQuery Social Media Plugin Demos</h1>

<p>
<ul>
<li><A href='/socialist'>jQuery Socialist</a> - Display feeds from multple social networks in a single list, or masonry style layout</li>
<li><A href='/share'>jQuery Share</a> - Social media buttons for sharing to multiple social networks</li>
<li><A href='/switchr'>jQueryUI Switchr</a> - A toggle switch widget for jQueryUI</li>
</ul>
</p>