<div class="container-fluid">

    <div class="hero-unit">
        <h1>jQuery Social Media Plugins</h1>
    </div>
    
    <h3>jQuery Social Plugins for sharing, posting and creating social feeds to and from multiple social networks</h3>
    
    <p>
    <img title='Create a Stream from Facebook Pages' src='/scripts/images/32/facebook-32x32.png' /> 
    <img title='Twitter Feed Plugin' src='/scripts/images/32/twitter-32x32.png' /> 
    <img title='Blog plugin for Pinterest thumbnails' src='/scripts/images/32/pinterest-32x32.png' /> 
    <img title='jQuery LinkedIn Feed' src='/scripts/images/32/linkedin-32x32.png' /> 
    <img title='YouTube Thumbnails Plugin' src='/scripts/images/32/youtube-32x32.png' /> 
    <img title='jQuery Craiglist Plugin' src='/scripts/images/32/craigslist-32x32.png' /> 
    <img title='jQuery Tumblr Plugin' src='/scripts/images/32/tumblr-32x32.png' /> 
    <img title='jQuery Google+ Plugin' src='/scripts/images/32/google-32x32.png' /> 
    <img title='jQuery Flickr Plugin' src='/scripts/images/32/flickr-32x32.png' /> 
    <img title='jQuery RSS Plugin' src='/scripts/images/32/rss-32x32.png' />
    </p>
    
    <p>
    <h3 title='Combine feeds from multiple social networks'><A href='/socialist'>jQuery Socialist</a></h3>
    Display feeds from multiple social networks in a single list, or masonry style layout.
    'Socialist' is a jquery plugin that creates a social stream (or social "wall") from multiple social media feeds in one place.
    Use it to combine content from Facebook pages, Twitter, LinkedIn, YouTube, Pinterest, Flickr, Tumblr, RSS and other social networks.
    <br/><br/>

    <h3 title='Single form sharing to multiple social networks'><A href='/share'>jQuery Share</a></h3>Social media buttons for sharing to multiple social networks.
    Display feeds from multple social networks in a single list, or masonry style layout
    'Share' is a jquery social plugin that enables simultaneous sharing to multiple social media feeds in one place.
    Use it to post content to Facebook, Twitter, LinkedIn and Tumblr.
    <br/><br/>

    <h3><A href='/switchr'>jQueryUI Switchr</a></h3>
    A toggle switch widget for jQueryUI.
    <br/><br/>

    </p>

</div>