<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title><%if (typeof title!="undefined") {%><%=title%><%}else{%>jQuery Social Plugin Demos from In1<%}%></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="jQuery plugin and widget demos featuring jQuery Socialist: a social media and RSS feed plugin that combines multiple sources, and jQuery Share: a single click social sharing plugin">
    <meta name="keywords" content="<%if (typeof keywords!="undefined") {%><%=keywords%><%}else{%>jquery, social media, plugin, jquery social plugin, social media plugins, combine social feeds, widgets, social plugins for blogs, social, feed, social stream, in1, aggregate, disseminate, metadata, RDF, OpenGraph, all in one<%}%>">
    <meta name="og:site_name" content="Plugins In1" />
    <meta name="og:title" content="<%if (typeof title!="undefined") {%><%=title%><%}else{%>jQuery Social Plugin Demos from In1<%}%>" />
    <meta name="og:description" content="jQuery plugin and widget demos featuring jQuery Socialist: A social media and RSS feed plugin that combines multiple sources." />
    <link href="/scripts/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/scripts/bootstrap/css/bootstrap.css" rel="stylesheet" /> 
	<link href="/styles/bootstrapin1.css" rel="stylesheet" />	
	<script src="/scripts/jquery.min.js"></script>
    <script type="text/javascript">
    
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-33260025-2']);
      _gaq.push(['_trackPageview']);
    
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    
    </script>
</head>
<body>
    <div class="container container-fluid">
        <hr/>
        <%- body %>
        <hr/>
        <a href='' class="pull-right" style="color:#000">Copyright &copy2012 In1.com</a>
    </div>

    <script src="/scripts/bootstrap/js/bootstrap.js"></script>
</body>
</html>