<!doctype html>
<html lang="en" manifest=""><head>
    <title>jQuery Social Plugin Demos from In1</title>
</head>
<body>
    <div class="container container-fluid">
        <%- body %>
    </div>
</body>
</html>