<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title><%if (typeof title!="undefined") {%><%=title%><%}else{%>jQuery Social Plugin Demos from In1<%}%></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="jQuery plugin and widget demos featuring jQuery Socialist: a social media and RSS feed plugin that combines multiple sources, and jQuery Share: a single click social sharing plugin">
    <meta name="keywords" content="<%if (typeof keywords!="undefined") {%><%=keywords%><%}else{%>jquery, social media, plugin, jquery social plugin, social media plugins, combine social feeds, widgets, social plugins for blogs, social, feed, social stream, in1, aggregate, disseminate, metadata, RDF, OpenGraph, all in one<%}%>">
    <meta name="og:site_name" content="Plugins In1" />
    <meta name="og:title" content="<%if (typeof title!="undefined") {%><%=title%><%}else{%>jQuery Social Plugin Demos from In1<%}%>" />
    <meta name="og:description" content="jQuery plugin and widget demos featuring jQuery Socialist: A social media and RSS feed plugin that combines multiple sources." />
    <link href="/scripts/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/scripts/bootstrap/css/bootstrap.css" rel="stylesheet" /> 
	<link href="/styles/bootstrapin1.css" rel="stylesheet" />	
	<script src="/scripts/jquery.min.js"></script>
    <script type="text/javascript">
    
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-33260025-2']);
      _gaq.push(['_trackPageview']);
    
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    
    </script>
</head>
<body>
    <div class="container container-fluid">
        <div class="btn-toolbar container">
			<div class="pull-left" style="margin-right:6px;padding:5px 5px 0px 0px;">
			<a href='/' id='logo' title='in1'>IN1</a>
			</div>
			<div class="btn-group">
				<ul class="nav nav-pills">
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#" title='Popular topics'>
							Categories
						</a>
						<ul class="dropdown-menu span3">
							<li><a href='http://in1.com/technology'>Gadgets & Tech</a></li>
							<li><a href='http://in1.com/business'>Business & Finance</a></li>
							<li><a href='http://in1.com/home'>Home & Garden</a></li>
							<li><a href='http://in1.com/entertainment'>Music & Entertainment</a></li>
							<li><a href='http://in1.com/living'>Living, Family & Interests</a></li>
							<li><a href='http://in1.com/sports'>Sports & Outdoors</a></li>
							<li><a href='http://in1.com/fashion'>Fashion</a></li>
							<li><a href='http://in1.com/categories'><strong>All Categories</strong>...</a></li>
						</ul>
					</li>
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#" title='Keywords to watch and explore'>
							Tags
						</a>
						<ul class="dropdown-menu span4">
							<h3>&nbsp;</h3>
						</ul>
					</li>
					
				</ul>
			</div>
			<div class="btn-group pull-right">
				<ul class="nav nav-pills">
					<li class="dropdown">
						
					</li>
					<li class="input-append" style="padding:3px;padding-right:0px;">
						<input type="text" class="span2" placeholder="{enter keywords here}" id="keywords" tabindex="0"/><button class="btn" id="searchBtn">Search</button>
					</li>
				</ul>
			</div>
		</div>
    </div>

    <div class="container container-fluid">
        <%- body %>
        <hr/>
        <a href='' class="pull-right" style="color:#000">Copyright &copy2012 In1.com</a>
    </div>

    <script src="/scripts/bootstrap/js/bootstrap.js"></script>
</body>
</html>