<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>jQuery Social Plugin Demos from In1</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="jQuery plugin demos by In featuring a collection of jQuery social plugins such as Socialist, a social feed plugin">
    <meta name="keywords" content="jquery, social media, plugin, jquery social plugin, social media plugins, widgets, social plugins for blogs, social, feed, social stream, in1, aggregate, disseminate, metadata, RDF, OpenGraph, all in one">
    <meta name="og:site_name" content="In1" />
    <meta name="og:title" content="Social Media Plugin Demos" />
    <meta name="og:description" content="jQuery plugin demos by In featuring a collection of jQuery social plugins such as Socialist, a social feed plugin" />
    <link href="/scripts/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/scripts/bootstrap/css/bootstrap.css" rel="stylesheet" /> 
	<link href="/styles/bootstrapin1.css" rel="stylesheet" />	
	<script src="/scripts/jquery.min.js"></script>
</head>
<body>
    <div class="container container-fluid">
        <%- body %>
    </div>

    <script src="/scripts/bootstrap/js/bootstrap.js"></script>
</body>
</html>